.env
.git
.gitignore
.vscode
.idea
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
storage/app/backups/*
storage/app/backup-work-*
storage/app/restore-work-*
docker-compose.yml
Dockerfile
